@import "../css/style.css";

/* Overwrite style container layout */
.container{
   grid-template:auto 1fr auto / 1fr;
   grid-template-areas:
   "hd"
   "mn"
   "ft";
}

/* there was no need to override any of the other ID's using Specificity.
   Nevertheless I gave it a try, but it made no sense in the context of this project */

/* Specific to blog-posts when there's enough space*/
@media(min-width:769px){
  .container{
    display:grid;
    grid-template: auto 1fr auto / auto;
    padding: 0px;
    margin: 0px;
    grid-template-areas:
      "hd"
      "mn"
      "ft";
  }
}
