/* a bunch of seperator lines */

/* some weird things are going on with hr. Reset it and redefine */
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:darkgray;
    height: 1px;
  }

/* Dashed border */
hr.dashed {
  border-top: 3px dashed #bbb;
}
  
/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}
  
/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}
  
/* Rounded border */
hr.rounded {
  border-top: 8px solid  #bbb;
  border-radius: 5px;
}