@import "../css/social.css";      /* social media icons */
@import "../css/my-h-tags.css";   /* h-tags styling */
@import "../css/my-img-tags.css"; /* img styling */

/* if theres not enough room
   lets stack everything on top of eachother */
.container{
    display:grid;
    grid-template: auto 1fr auto auto auto / 1fr;
    padding: 0;
    grid-template-areas: 
    "hd"
    "mn"
    "ab"
    "sd"
    "ft";
}

.box {
  display:flex;
  flex-direction:column;        /* direction to place elements: onder elkaar */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2em;
}

.socialbox {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

#header{
  grid-area: hd;
  background-image: url(../img/header-background.jpg);  /* image courtesy of unsplash.com */
  background-color:#3B5998;      /* fallback background color if img fails to load*/
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;                     /* text color that is */
}

#footer{
  grid-area: ft;
  height:auto;
  content: center;
  flex-direction:row;
  background: white;
}

#sidebar{
  grid-area: sd;
  background: burlywood;
}

#aboutus{
  grid-area: ab;
  background:darkgray;
}

#content{
  grid-area: mn;
  overflow: hidden;
  padding: 2em;
}

/* Is there enough room? */
@media(min-width:769px){
  .container{
    display:grid;
    grid-template: auto minmax(400px,auto) 1fr auto / 80% 20%;
    padding: 0px;
    margin: 0px;
    grid-template-areas:
      "hd hd"
      "mn ab"
      "mn sd"
      "ft ft";
  }
}