/* Mobile first */
.container{
    display:grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px 600px 600px 150px ;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px solid yellow;
    grid-template-areas: 
    "hd hd hd"
    "mn mn sd"
    "mn mn sd"
    "mn mn sd"
    "ft ft ft";
    
    /* Use grid-template-area to create a mobile layout where each named space occupies its own row */
    
  }
  .box{
      display:flex;
      flex-direction:column;
      align-content: stretch;
      justify-content:left;
      border: 1px solid red;
      /* background: #F8FA9D; */
    }
  
    #header{
      grid-area: hd;
      background: blue;
    }
    #footer{
      grid-area: ft;  
      background: blueviolet;
    }
    #sidebar{
      grid-area: sd;
      background: burlywood;
    }
    #content{
      grid-area: mn;
      background-image: url(../img/snip.png);
      background-position: center;
      justify-content: left;
    }
  
  /* If Screen Is Wide Enough */
  @media(min-width:901px){
  .container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border: 2px solid red;
    grid-template-areas:
      "hd hd hd hd"
      "mn mn mn sd"
      "mn mn mn sd"
      "mn mn mn sd"
      "ft ft ft ft";
    }
  }